h1 {
  text-align: center;
}
body {
  background-color: black;
}
#navbar {
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

#resume {
  background: rgba(128,128,128,.25);
  width: 15%;
  margin: auto;
}

#proj {
  background: rgba(128,128,128,.25);
  width: 15%;
  margin: auto;
}